body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(95, 164, 241, 0.863);
  color: rgb(6, 39, 68);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: rgb(138, 195, 245);
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(6, 39, 68);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

#sobre {
  background-color: rgb(191, 235, 255);
  border: 3px outset #8eb9fa;
}

.bg-color {
  background-color: rgb(191, 235, 255);
}

section {
  margin-bottom: 30px;
  padding: 20px;
  border: 3px outset #8eb9fa;
  border-radius: 10px;
}

footer {
  background-color: rgb(144, 183, 255);
  color: rgb(6, 39, 68);
  text-align: center;
  padding: 15px;
}
